.things-box
  .row
    .col-sm-12
      h2  {{current.title }}
      br.hidden-xs
      br
      br.hidden-xs.hidden-sm
      br
      form.form-horizontal(name='thingForm', novalidate='')
        formly-form(model='current.scope', fields='current.fields')
        br.hidden-xs.hidden-sm
        br
        tips(tips='current.tips.values', image='current.tips.image', values='current.scope')
        br.hidden-xs.hidden-sm
        br
        .text-right
          button.btn.btn-primary.btn-lg(ng-click='next()', ng-disabled='thingForm.$invalid || thingForm.$pending')  Próximo
