.things-box(ng-class='current.thingClass')
  .row
    .col-sm-12
      h2.thing-title(ng-bind-html="currentTitle" ng-if="!!currentTitle")
      h2.thing-title(ng-bind-html="currentSubtitle" ng-if="!!currentSubtitle")
      p.thing-text(ng-bind-html="currentText" ng-if="!!currentText" ng-class="current.textClass")
      div.thing-images(ng-repeat="image in current.images" ng-if="!!current.images")
        img.thing-image(ng-src="{{image.src}}" alt='{{image.alt}}' ng-class="image.class")
      br.hidden-xs
      //- br
      span(ng-if='!!current.video')
        otpp-video(video-config='current.video')
      form.form-vertical(name='thingForm', novalidate='', ng-class='current.formClass')
        .thing-form
          formly-form(model='current.scope', fields='current.fields')
          br.hidden-xs
          tips(tips='current.tips.values', image='current.tips.image', values='current.scope')
          br.hidden-xs(ng-show="current.tips && current.tips.values.length > 0")
        .thing-button
          .text-righ.btn-group(ng-hide="!startedValid && current.immediate")
            button.pull-right.btn.btn-primary.btn-lg(ng-click='next()', ng-disabled='thingForm.$invalid || thingForm.$pending' ng-hide="current.disableNextButton")  Próximo
            button.pull-left.btn.btn-secondary.btn-lg(ng-click='back()' ng-hide="!enableBackButton || current.disableBackButton")  
              i.fa.fa-caret-left
