<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br>
        <br>

        <things transitions="$ctrl.form.transitions" things="$ctrl.form.things" model="$ctrl.formAnswer" onfinish="$ctrl.finish()"> </things>

        <br>
        <br>
      </div>
    </div>

    <br>
    <br>

    <!-- <pre>{{ $ctrl.form.transitions | json }}</pre>
    <br />
    <pre>{{ $ctrl.form.things | json }}</pre>
    <br /> -->
    <pre>{{ $ctrl.formAnswer | json }}</pre>
</div>
