
.video-box {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 1em;
}

@media (min-width: 1200px) {
    .video-box {
        width: 1170px;
        height: 658.125px;
    }

    .video-box.audio {
        width: 1170px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .video-box {
        width: 940px;
        height: 528.75px;
    }

    .video-box.audio {
        width: 940px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .video-box {
        width: 728px;
        height: 409.5px;
    }

    .video-box.audio {
        width: 728px;
        height: 50px;
    }
}
.thing-text {
    padding-top: 1em;
}
.thing-images {
    padding-top: 1em;
}
.tips-box {
  $default-tip-border-color: #bce8f1;
  $tip-border-color: if(global-variable-exists('alert-info-border'), $alert-info-border, $default-tip-border-color);

  $screen-sm-max: if(global-variable-exists('screen-sm-max'), $screen-sm-max, 999px);
  $screen-md-min: if(global-variable-exists('screen-md-min'), $screen-md-min, 1000px);

  transition: all linear 0.5s;

  .img-circle {
    transition: all linear 0.1s;
  }

  &.ng-hide {
    opacity: 0;
    height: 1px;
  }

  .tip {
    .tip-image {
        object-fit: cover;
        width: 75px;
        height: 75px;
        padding: 5px;
    }

    .tip-message {
      display: inline-block;
      margin-left: 17px;
      min-width: 250px;
      min-height: 50px;
      max-width: 450px;

      @media (max-width: $screen-sm-max) {
        min-width: 100px;
        min-height: 50px;
        max-width: 190px;
      }

      &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid $tip-border-color;
        margin-top: -20px;
        left: -25px;
        position: relative;
        z-index: 3;
      }
    }
  }
}
